## project on credit card fraud detection

Importing the dependencies

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

Importing the data and converting to datafame using Pandas

In [3]:
bankdata=pd.read_csv("creditcard.csv")

In [4]:
bankdata.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

Time--- it is the time elapsed after first transaction


v1,v2,v3.... the features as confidencial as per bank record


amount---money transacted


class----legit and fraud transaction

In [5]:
bankdata.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

checking the null values

In [6]:
bankdata.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
bankdata.shape

(284807, 31)

In [8]:
bankdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

## 5 point summary of dataset

In [9]:
bankdata.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [10]:
bankdata.shape[1]

31

## checking the counts of legit and fraud transaction

In [11]:
bankdata['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

 as it can be observed that data is highly unbalanced .......................
 
 
 
 0---fraud transaction
 1---legit transaction

In [12]:
# separating the data for analysis
legit=bankdata[bankdata.Class==0]
fraud=bankdata[bankdata.Class==1]

In [13]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [34]:
# statstical analysis of legit data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [35]:
# statstical analysis of fraud data
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [37]:
# findng the mean of each class and comparing them
bankdata.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

To make the data balanced we have used undersampling technique

building a sample dataset from orignal dataset containing similar distribution of fraud and legit transaction

In [17]:
legit_sample=legit.sample(n=492)

concatening two data frames

In [18]:
newdata=pd.concat([legit_sample,fraud],axis=0)

In [19]:
newdata.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
60257,49234.0,1.236928,-0.458252,-0.174227,-0.800210,0.057105,0.460848,-0.325503,0.143430,-1.259145,...,0.337196,1.074922,-0.002585,-0.568774,0.449304,0.021402,0.045560,-0.008252,15.00,0
27769,34699.0,1.060901,0.122562,0.640184,1.535093,-0.600619,-0.221202,-0.333575,0.133371,0.528970,...,-0.023667,0.170623,-0.139733,0.472956,0.616844,-0.308828,0.065397,0.047554,30.00,0
82151,59265.0,-0.972329,0.033085,1.184387,-0.289441,0.673388,-0.308410,-0.046665,-0.002786,-0.390403,...,-0.008883,-0.017071,-0.076069,-0.440697,-0.725632,0.880432,-0.162317,0.259061,23.91,0
219013,141559.0,2.014362,-0.117429,-1.010109,0.324591,-0.157585,-0.950014,0.061938,-0.176402,0.321513,...,-0.235475,-0.593831,0.343737,0.069106,-0.350871,0.173807,-0.076242,-0.069979,0.89,0
269943,163846.0,-1.041739,-0.301099,1.694523,-2.419053,0.533360,-1.317942,0.211717,-0.212569,1.155614,...,0.159314,0.615027,-0.424318,0.035525,-0.121556,0.503763,-0.190093,-0.138104,0.01,0
101634,67898.0,-0.921048,0.143076,-0.039523,0.605782,1.111634,0.779772,0.325280,0.419350,-0.469377,...,0.036881,0.354978,0.398129,-1.733163,0.098990,-0.217792,-0.215833,-0.366496,59.50,0
161276,114048.0,1.821881,-1.166296,-1.129420,-2.331391,-0.131292,0.770597,-0.782615,0.329256,2.277250,...,0.377210,1.336712,0.006957,-1.580412,-0.131261,-0.640887,0.114103,-0.051202,72.38,0
246031,153007.0,1.930307,0.417909,-2.415942,1.490320,1.090143,-0.853928,0.808232,-0.395047,-0.017671,...,-0.001640,0.122590,-0.066319,0.508326,0.508040,-0.524193,-0.005726,-0.011518,63.92,0
198855,132681.0,-5.450525,2.532875,-0.592883,0.398455,-0.478209,0.803126,0.147689,0.677906,2.370915,...,-1.158131,-1.424877,0.250151,-1.113757,1.072312,-0.811545,-0.261512,0.266219,49.63,0
26981,34333.0,1.163512,-1.256323,1.610103,-0.026518,-1.883315,0.888459,-1.644340,0.549566,0.913433,...,-0.541201,-0.617642,0.215948,0.111954,-0.107750,1.075292,0.045151,0.013300,8.06,0

In [20]:
newdata.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
newdata.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,...,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,88309.847561,-2.367489,1.755681,-3.501367,2.224874,-1.566664,-0.717523,-2.843781,0.255672,-1.260094,...,0.358741,0.022499,-0.008988,-0.059577,0.011908,0.032673,0.065118,0.032942,103.254268,0.500000
std,48358.581874,5.540010,3.794711,6.222100,3.220628,4.257302,1.796053,5.849484,4.909062,2.329636,...,2.793105,1.177482,1.226388,0.570391,0.671298,0.481634,1.030951,0.421744,239.382462,0.500254
min,406.000000,-30.552380,-20.457095,-31.103685,-4.249611,-22.105532,-7.641777,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.028024,-4.781606,-1.303960,-7.263482,-2.134473,0.000000,0.000000
25%,45928.000000,-2.922415,-0.233277,-5.084967,-0.163721,-1.891064,-1.606496,-3.179656,-0.220480,-2.294075,...,-0.158248,-0.531679,-0.221751,-0.403235,-0.321023,-0.286996,-0.069084,-0.062766,1.000000,0.000000
50%,81874.500000,-0.777959,0.915035,-1.377422,1.296679,-0.470843,-0.669902,-0.727594,0.159708,-0.703309,...,0.159904,0.041255,-0.011771,0.010280,0.050709,-0.026268,0.045242,0.027960,17.750000,0.500000
75%,135793.500000,1.089334,2.854548,0.387299,4.204320,0.473295,0.067293,0.224195,0.878563,0.250941,...,0.662005,0.590969,0.220013,0.369194,0.376141,0.335201,0.431109,0.218862,99.250000,1.000000
max,172084.000000,2.306895,22.057729,2.836870,12.114672,18.113851,6.474115,6.031493,20.007208,3.353525,...,27.202839,8.361985,5.466230,1.212145,2.208209,2.745261,3.052358,1.779364,2849.940000,1.000000

In [22]:
 newdata['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

 Now the data is balanced

In [23]:
newdata.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95872.888211,0.036971,-0.112417,0.030546,-0.092280,0.017897,-0.037309,-0.118830,-0.059291,0.060936,...,0.017351,0.003893,0.030949,0.022332,-0.014024,-0.017633,0.013699,-0.040338,-0.009784,84.297215
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## spliting the data

Now dividing the data for logistic regression algorithm into feature and target

In [24]:
X=newdata.drop(columns='Class',axis=1)
Y=newdata['Class']

In [39]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
60257    49234.0  1.236928 -0.458252 -0.174227 -0.800210  0.057105  0.460848
27769    34699.0  1.060901  0.122562  0.640184  1.535093 -0.600619 -0.221202
82151    59265.0 -0.972329  0.033085  1.184387 -0.289441  0.673388 -0.308410
219013  141559.0  2.014362 -0.117429 -1.010109  0.324591 -0.157585 -0.950014
269943  163846.0 -1.041739 -0.301099  1.694523 -2.419053  0.533360 -1.317942
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
60257  -0.325503  0.143430 -1.259145  ... -0.051312  0.337196  1.074922
27769  -0.333575  0.133371  0.528970  ... -0.065294 -0.023667  0.170623
82151  -0.046665 -0.002786 -0.390403  ...  0.017246 -0.008883 -0.017071
219013  0.061938 -0.176402  0.321513  ... -0.237636 -0.235475 -0.593831
269943  0.211717 -0.212569  1.155614  ... -0.318455  0.159314  0.615027
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
60257  -0.002585 -0.568774  0.449304  0.021402  0.045560 -0.008252   15.00
27769  -0.139733  0.472956  0.616844 -0.308828  0.065397  0.047554   30.00
82151  -0.076069 -0.440697 -0.725632  0.880432 -0.162317  0.259061   23.91
219013  0.343737  0.069106 -0.350871  0.173807 -0.076242 -0.069979    0.89
269943 -0.424318  0.035525 -0.121556  0.503763 -0.190093 -0.138104    0.01
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [25]:
print(Y)

60257     0
27769     0
82151     0
219013    0
269943    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [26]:
X_train, X_test ,Y_train, Y_test =train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [27]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

## model 

## logistic regression

In [28]:
model=LogisticRegression()

In [29]:
model.fit(X_train, Y_train)

C:\Users\Saurabh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## model evaluation

In [30]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, Y_train)

In [31]:
print('Accuracy on Training Data:',training_data_accuracy)

Accuracy on Training Data: 0.9466327827191868

In [32]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, Y_test)

In [33]:
print('Accuracy scre on test data:',test_data_accuracy)

Accuracy scre on test data: 0.9441624365482234

Thus It can be seen that the accuracy score of both test and train data is comparable and good
so our model ha performed good